.tree {
}

.treeSegment {
  padding-left: 16px;
  margin-bottom: -4px;
  stroke: black;
}

.treeItem {
  display: inline-block;
  padding-left: 4px;
  margin-bottom: 11px;
  vertical-align: bottom;
}
