.treeItem {
  display: grid;
  grid-template-areas:
    'line-intersection label'
    'line-drop children';

  grid-template-columns: 40px 1fr;
  grid-template-rows: 40px 1fr;

  stroke: black;

  align-items: end;
}

.tree {
  grid-area: children;
}

.treeLabel {
  grid-area: label;
}

.line-intersection {
  grid-area: line-intersection;
}

.line-drop {
  grid-area: line-drop;
}

.treeItem:last-child>.line-drop {
  display: none;
}
